* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: #34495e;
    background-color: #ffffff;
}
h1{
	text-align:center;
}
a {
    text-decoration: none;
    color: #34495e;
}
a:hover{ 
    color:#16a085;
}
.container {
	width: 80%;
	margin: 25px auto 25px auto;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar {
    font-size: 16px;
    min-height: 53px;
    margin-bottom: 30px;
    border: none;
    border-radius: 6px;
}
.navbar-default {
    background-color: #ecf0f1;
}
.navbar-header {
    float: left;
}
.navbar-brand {
	float: left;
    font-size: 24px;
    line-height: 1.042;
    height:50px;
    font-weight: 700;
    padding: 14px 21px;
}
.navbar-collapse {
    box-shadow: none;
    padding-right: 21px;
    padding-left: 21px;
}
.navbar-default .navbar-text {
    color: #34495e;
    margin-left: 21px;
    margin-right: 21px;
}
.navbar-text {
    font-size: 16px;
    line-height: 1.438;
    color: #34495e;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}